{
    "presets": [
        "react",
        [
            "env",
            {
                "modules": false
            }
        ]
    ],
    "env": {
        "test": {
            "presets": [
                [
                    "env"
                ],
                "react"
            ]
        }
    },
    "plugins": [
        "external-helpers"
    ]
}
